/* Faq 1 ---------------------------------- */ 
.accordion-card {
    transition: 0.4s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    background-color: $smoke-color;
    text-align: left;
    position: relative;
    z-index: 3;
    // box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    &:not(:last-child) {
        margin-bottom: 24px;
    }
    .accordion-button {
        font-size: 20px;
        font-weight: 700;
        font-family: $title-font;
        border: 0;
        border-color: $border-color;
        color: $title-color;
        background-color: transparent;
        // box-shadow: 0px 2px 14px rgba(4, 6, 66, 0.1);
        border-radius: 0;
        padding: 22px 45px 22px 30px;
        min-height: 56px;
        gap: 10px;
        margin-bottom: 0;
        text-align: left;
        transition: 0.3s;
        position: relative;
        &:after {
            content: "\f055";
            height: 100%;
            width: auto;
            line-height: 1;
            background-color: transparent;
            background-image: none;
            font-family: $icon-font;
            color: $theme-color;
            font-weight: 900;
            font-size: 22px;
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 0;
            right: 30px;
            transition: 0.3s ease-in-out;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &:not(.collapsed) {
            box-shadow: none;
            border-radius: 0;
            &:after {
                content: '\f056';
                transform: rotate(180deg);
                color: $title-color;
            }
        }
    }
    .accordion-collapse {
        border: none;
    }
    .accordion-body {
        border-radius: 0;
        border: none;
        padding: 0px 30px 30px 30px;
        margin-top: -7px;
    }
    .faq-text {
        margin-bottom: -0.48em;
    }
    &:has(.show) {
        border-radius: 10px;
    }
}

@include sm {
    .accordion-card .accordion-button {
        font-size: 18px;
    }
}

@include xs {
    .accordion-card .accordion-button {
        font-size: 16px;
    }
}